// =========
// Ellipsis
// =========
// 省略号样式，当文字超过容器宽度时，超出部分文字隐藏并显示省略号。
// 指定参数（行数）的功能只支持WebKit。
//
// Examples: 
// .ellipsis();
// .ellipsis(3);
// -----------------------------------------------


// Ellipsis
// --------
.ellipsis(...) {
    overflow: hidden;
}
.ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis(@line-number) {
    display: -webkit-box;
    -webkit-line-clamp: @line-number;
    -webkit-box-orient: vertical;  
}