// Support  --------------------------
@support-old-ie: true;

// Default ---------------------------
@default-font-size: 16px;

// Rhythm ----------------------------
@rhythm-space: 1rem;

// Sprites ---------------------------
@sprite-grid: 50px;